<div class="row">
    <div resumen-gastos class="col-sm-2"> </div>
    <div class="col-sm-10">
    	<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-lg">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5><b> <i class="fa fa-list" aria-hidden="true"></i> Gastos por Rubro </b></h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table id="example" class="table" width="100%">
                                <thead>
                                    <th width="5%">#</th>
                                    <th width="20%">Rubro</th>
                                    <th>Gastos</th>
                                </thead>
                                <tbody>
                                    <!-- <tr ng-repeat="n in [1,2,3,4,5,6,7,8,9]"> -->
                                    <tr>
                                        <td> <b>1</b> </td>
                                        <td>PAGO DE PROVEEDOR</td>
                                        <td>
                                            <div class="barra-porcentaje">
                                                <div class="info">$2,900.00</div>
                                                <div class="bar" style="width: 30%"></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td> <b>2</b> </td>
                                        <td>PAGO DE EMPLEADOS</td>
                                        <td>
                                            <div class="barra-porcentaje">
                                                <div class="info">$2,900.00</div>
                                                <div class="bar" style="width: 50%"></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td> <b>3</b> </td>
                                        <td>PAGO DE SERVICIOS</td>
                                        <td>
                                            <div class="barra-porcentaje">
                                                <div class="info">$2,900.00</div>
                                                <div class="bar" style="width: 40%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>