<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-2">
        <div class="dash-panel">
            <center>
                <i class="fa fa-money text-red" style="font-size: 60px"></i>
                <br>
                <span>TOTAL EN VENTAS</span>
                <hr>
                <span class="dash-resumen">$ 1,213.12</span>
                <hr>
            </center>
            <ul class="nav">
                <li> <a href="" ng-click="controlPanel('ventas','notas');"> Ver Notas</a> </li>
                <li> <a href="" ng-click="controlPanel('ventas','analisis');"> Productos Vendidos</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="dash-panel">
            <center>
                <i class="fa fa-money text-orange" style="font-size: 60px"></i>
                <br>
                <span>TOTAL EN GASTOS</span>
                <hr>
                <span class="dash-resumen">$ 1,213.12</span>
                <hr>
            </center>
            <ul class="nav">
                <li> <a href="" ng-click="controlPanel('gastos','notas');"> Ver Notas</a> </li>
                <li> <a href="" ng-click="controlPanel('gastos','analisis');"> Reporte por Rubro</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="dash-panel">
            <center>
                <i class="fa fa-level-down text-orange" style="font-size: 60px"></i>
                <br>
                <span>ENTRADAS</span>
                <hr>
                <span class="dash-resumen">1,213</span>
                <hr>
            </center>
            <ul class="nav">
                <li> <a href="" ng-click="controlPanel('entradas','notas');"> Ver Notas</a> </li>
                <li> <a href="" ng-click="controlPanel('entradas','analisis');"> Productos Ingresados</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="dash-panel">
            <center>
                <i class="fa fa-retweet text-sky-blue" style="font-size: 60px"></i>
                <br>
                <span>TRASPASOS</span>
                <hr>
                <span class="dash-resumen">1,213</span>
                <hr>
            </center>
            <ul class="nav">
                <li> <a href="" ng-click="controlPanel('traspasos','notas');"> Ver Notas</a> </li>
                <li> <a href="" ng-click="controlPanel('traspasos','analisis');"> Entradas y Salidas</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="dash-panel">
            <center>
                <i class="fa fa-filter text-green" style="font-size: 60px"></i>
                <br>
                <span>MEZCLAS</span>
                <hr>
                <span class="dash-resumen">1,213</span>
                <hr>
            </center>
            <ul class="nav">
                <li> <a href="" ng-click="controlPanel('mezclas','notas');"> Ver Notas</a> </li>
                <li> <a href="" ng-click="controlPanel('mezclas','analisis');"> Comportamiento</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
</div>