<div class="dash-panel">
    <center>
        <i class="fa fa-filter text-green" style="font-size: 60px"></i>
        <br>
        <span>MEZCLAS</span>
        <hr>
        <span class="dash-resumen">1,213</span>
        <hr>
    </center>
    <ul class="nav">
        <li> <a href="" ng-click="controlPanel('mezclas','notas');"> Ver Notas</a> </li>
        <li> <a href="" ng-click="controlPanel('mezclas','analisis');"> Comportamiento</a> </li>
    </ul>
    <hr>
    <menu-listas></menu-listas>
</div>
<br>
<button class="btn btn-danger" style="width: 100%" ng-click="controlPanelReturn()"> 
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar 
</button>