<div class="row">
    <div resumen-traspasos class="col-sm-2"> </div>
    <div class="col-sm-10">
    	<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-lg">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5><b> <i class="fa fa-list" aria-hidden="true"></i> Entradas y Salidas de Productos </b></h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table id="example" class="table table-hover" width="100%">
                                <thead>
                                    <th width="10%">SKU</th>
                                    <th width="50%">Producto</th>
                                    <th class="text-right">Entradas</th>
                                    <th class="text-right">Salidas</th>
                                    <th class="text-right">Stock Actual</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
                                        <td>1202</td>
                                        <td>BASE DE BORREGO</td>
                                        <td class="text-right">12</td>
                                        <td class="text-right">7</td>
                                        <th class="text-right">12</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>