@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100vh;
}
body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;    
    background-image: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.6)), -webkit-linear-gradient(bottom right, #a0d3e4, #97d1e7);
    background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.6)), linear-gradient(to top left, #a0d3e4, #97d1e7);
}
.ui {
    margin: 10px auto;
    width: 80%;
    max-width: 1400px;
    height: 97%;
    background-color: #fff;
    box-shadow: 0 0 5px #666;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.ui .search input {
    outline: none;
    border: none;
    background: none;
}
.ui .search {
    position: relative;
}
.ui .search input[type=submit] {
    font-family: 'FontAwesome';
    position: absolute;
    right: 5px;
    top: 27px;
    color: white;
}
.ui .search input[type=search] {
    background-color: #696c75;
    border-radius: 3px;
    padding: 10px;
    width: 98%;
    box-sizing: border-box;
    margin: 15px 10px;
    color: #fff;
}
.ui .left-menu {
    width: 29%;
    box-sizing: content-box;
    padding-right: 1%;
    height: 100%;
    background: #434753;
}
.ui .chat {
    width: 70%;
    height: 100%;
    background: #f1f5f8;
}
.ui .chat .info {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: 40px;
    // width: calc(100% - 65px - 50px);



    // background-color: blue;
    overflow: hidden;
}
.ui .chat .info .name {
    font-weight: 600;
    color: #434753;
    height: 50%;
}
.ui .chat .info .count {
    color: #6d738d;
    font-size: 12px;
    font-size: 14px;
}
.ui .chat i.fa {
    // color: #d6d9de;
    vertical-align: 25px;
}
.ui .avatar > img,
.ui .list-friends img {
    border-radius: 50%;
    border: 3px solid #696c75;
}
.ui .list-friends {
    list-style: none;
    font-size: 13px;
    height: 84%;
}
.ui .list-friends img {
    margin: 5px;
}
.ui .list-friends > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui .list-friends .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ui .list-friends .user {
    color: #fff;
    margin-top: 12px;
}
.ui .list-friends .status {
    position: relative;
    margin-left: 14px;
    color: #a8adb3;
}
.ui .list-friends .off:after,
.ui .list-friends .on:after {
    content: '';
    left: -12px;
    top: 8px;
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}
.ui .list-friends .off:after {
    background: #fd8064;
}
.ui .list-friends .on:after {
    background: #62bf6e;
}
.ui .list-friends li:hover {
    background-color: #4c505c;
}
.ui .top {
    height: 70px;
}
.ui .messages {
    height: calc(100% - 70px - 75px);
    list-style: none;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
}
.ui .messages li {
    margin: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.ui .messages li:after {
    content: '';
    clear: both;
    display: block;
}
.ui .messages li .head {
    font-size: 13px;
}
.ui .messages li .name {
    font-weight: 600;
    position: relative;
}
.ui .messages li .name:after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 6px;
}
.ui .messages li .time {
    color: #b7bccf;
}
.ui .messages li .message {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 10px;
    line-height: 25px;
    max-width: 500px;
    word-wrap: break-word;
    position: relative;
}
.ui .messages li .message:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -12px;
    border-bottom: 12px solid #62bf6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.ui .messages li.friend-with-a-SVAGina .name {
    margin-left: 20px;
}
.ui .messages li.friend-with-a-SVAGina .name:after {
    background-color: #62bf6e;
    left: -20px;
    top: 6px;
}
.ui .messages li.friend-with-a-SVAGina .message {
    background-color: #62bf6e;
    float: left;
    min-width: 100px;
}
.ui .messages li.friend-with-a-SVAGina .message:before {
    left: 16px;
    border-bottom-color: #62bf6e;
}
.ui .messages li.i .head {
    text-align: right;
}
.ui .messages li.i .name {
    margin-right: 20px;
}
.ui .messages li.i .name:after {
    background-color: #7bc4ef;
    right: -20px;
    top: 6px;
}
.ui .messages li.i .message {
    background-color: #7bc4ef;
    float: right;
    min-width: 100px;
}
.ui .messages li.i .message:before {
    right: 16px;
    border-bottom-color: #7bc4ef;
}
.ui .write-form {
    height: 75px;    
}
.ui .write-form textarea {
    height: 55px;
    margin: 10px 0px 10px 5%;
    width: 75%;
    // outline: none;
    padding: 15px;
    border: none;
    border-radius: 3px 0px;
    resize: none;
    float: left;
}

.blue{
    color: #00bcd4;
}

.recording{
    height: 55px;
    margin: 10px 0px 10px 5%;
    width: 75%;
    border: none;
    border-radius: 3px 0px;
    float: left;
    background-color: white;
}

.ocultar{
    display: none;
}

.record{
    font-size: 45px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.gray{
    color: gray;
}

.stop{
    position: absolute;
    font-size: 22px;
    margin-top: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.ui .write-form textarea:focus{
    outline: none;
}
.ui .write-form textarea:before {
    content: '';
    clear: both;
}

.funciones{
    width: 9%;
    background-color: white;
    float: left;
    margin: 10px 0px;
    height: 55px;
    border-radius: 0px 3px;
}

.adjuntos{
    float: left;
    margin-left: 15px;
}

.ui .avatar > img {
    border-color: #62bf6e;
    margin: 10px;
    margin-right: 5px;
}
.ui .avatar {
    display: inline-block;
    // background-color: red;
}
.ui .send {
    color: #7ac5ef;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui i.fa-file-o {
    margin-left: 15px;
}
.ui i.fa-picture-o {
    margin-left: 5%;
}
.back-xs {
    display: none;
}
.logo {
    margin: 15px 10px;
}
.front-page {
    position: absolute;
    width: 29%;
    height: 100px;
    background: #c00;
    z-index: 1024;
    margin-left: -150px;
}
.head .name{
    color: #333;
}

.extra{
    // background-color: #f1f5f8;
    background-color: white;
    width: 40%;
    border-left: solid 2px white;    
    display: none;
    overflow: hidden;
}

.x-back{
    color: #434753;
    font-size: 37px;
    margin: 11px 3px 0px 10px;
    padding: 0px 5px 5px 18px;
    float: left;
    cursor: pointer;
    background-color: transparent;

    width: 46px;
    height: 46px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.x-back:hover{
    background-color: #d7d7d7;
}

.extra .top{

}

.extra .top h2{
    float: left;
}

.x-busqueda{
    background-color: #f4f4f4;
    overflow: hidden;
    width: 99%;
    height: 40px;
}

.x-icono{
    width: 7%;
    float: left;
    text-align: right;
}

.icono-searh{    
    margin-right: 5px;
    color: #4fc3f7;
    margin-top: 13px;
    font-size: 15px;
}

.x-search{
    float: left;
    width: 93%;
}

.x-busqueda .x-search input[type=search] {
    border: 0 !important;
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;
}

.x-busqueda .x-search input[type=search]:focus{
    outline: none;
}

.extra .top .info{
    color: black;
}

.x-titulo{
    overflow: hidden;
    color: black;
    float: left;
    margin-top: 25px;
}

.x-color{
    color:#434753;
}

.microfonito{
    font-size: 28px;
    padding-top: 15px;
    padding-right: 15px;
    float: right;
    cursor: pointer;
    color: #d6d9de;
}

.microfonito:hover{
    color: #00bcd4 !important;
}

.botones_circle{
    float: right;
    width: 30%;
    text-align: right;
    margin-top: 18px;
    padding-right: 15px;
}

.b-circle{
    color: #333 !important;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    float: right;
    padding: 9px 9px 0 0;
    cursor: pointer;
}

.b-circle:hover{
    background-color: #ffffff;
    // color: white !important;
}

.loSentimos{
    display: none;
    width: 100%;
    height: 100%;
}

.ls-logo{
    // background-color: red !important;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    margin-left: calc(50% - 70px);
}

.ls-textos{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 35%;
}

.tx-titulo{
    font: 300 45px Roboto;
    color: #26508e;
}

.tx-sub{
    font: 300 22px Roboto;
    color: #19273d;
}

.tx-instrucciones{
    font: 300 14px Roboto;
    color: #5f6164;
}

.ls-textos hr{
    border: 0; 
    height: 1px; 
    background-color: #99a5b6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pnl-declaraciones{
    color: black;
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    position: relative;
    outline: none;
}

.documentos{
    margin: 0px 20px;
}

.documentos .doc-item{
    float: left;
    margin: 5px;
    border: solid 4px white;
    // width: 30%;
    // height: 13% !important;
    
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    background-position: center center;
}

.documentos .doc-item:hover{
    border: solid 4px #f4f4f4;
}


@media screen and (max-height: 450px) {
    /* Estilos para telefonos en orientación Vertical */
    body{
        background-color: #19273d !important;
    }

    .loSentimos{
        display: block;
        background-image: url(../img/loSentimos.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% auto !important;
    }

    .ls-textos{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding-top: 5%;
    }
}

@media screen and (min-width: 1px) and (max-width: 800px) {
    /* Estilos para tabletas en orientación Vertical */

    body{
        /*background-color: white !important;*/
    }

    .loSentimos{
        display: block;
        background-image: url(../img/loSentimos.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto auto;
    }
    
    .ui {
        display: none;
    }    
}

@media screen and (min-width: 801px) and (max-width: 1440px) {
    /* Estilos para tabletas en orientación Horizontal */
    
    .ui {
        margin: 0px;
        width: 100%;
        height: 100%;
        max-width: 1440px;
    }

    .container {
        bottom: 20px !important;
    } 

    .documentos .doc-item{
        // width: 200px;
        height: 150px;
    }   
}