<div class="col-sm-3">
    <center>
    <img src="images/logo-circulo-3.png" width="60%" style="margin-top: 5px;">
    </center>
</div>
<div class="col-sm-9">
    <h1>FORRAJERA AS DE OROS<br><br></h1>
</div>

<!-- Linea de datos del cliente -->
<div class="col-sm-2">
    <!-- <span style="font-size: 14px; font-weight: bold;">Cliente:</span> -->
</div>
<div class="col-sm-7">
    <!-- <div style="width: 100%; border-bottom: solid 1px black;">&nbsp;</div> -->
</div>
<div class="col-sm-3">
    <span style="font-size: 14px; font-weight: bold;">Fecha: <br><small>{{ fechaStr }}</small></span>
</div>

<div class="col-sm-12">
    <table id="example" class="table" width="100%">
        <thead>
            <th>SKU</th>
            <th>PRODUCTO</th>
            <th>UNIDAD</th>
            <th width="80">CANTIDAD</th>
            <th>DESCRIPCION</th>
        </thead>
        <tbody>
            <tr ng-repeat="(key, pro) in Carrito | filter: search" style="text-transform: uppercase;">
                <td>{{ pro.pro_sku }}</td>
                <td> <span ng-bind-html="pro.pro_nombre"></span> <span ng-bind-html="pro.pro_descripcion"></span> </td>
                <td ng-bind-html="pro.pro_unidad"></td>
                <td style="text-align: right;"> {{ pro.cantidad }} </td>
                <td>{{ pro.entrada_descripcion }}</td>
            </tr>

            <tr ng-repeat="rel in Relleno">
                <td colspan="5">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<div nota-entrada-print style="display: none;" id="notaEntrada" ></div>