<div>
    <a ui-sref=nuevo_agente class="pull-right btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-plus"></span> Nuevo Agente</a> 
    <!-- <h2>Agentes <small>Work with Chart.js and D3</small></h2> -->
    <h2>&nbsp;</h2>
    <!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span>  -->
    <div class=jumbotron>
        <div class=container>
            <div class="row">   
                <div class="col-sm-4"> <h2>Mis Agentes</h2> </div>
                <div class="col-sm-8">
                    <div class="pull-right"> <h2><i class="fa fa-search" aria-hidden="true"></i></h2> </div>
                </div>                
                <div class="col-sm-12">
                    <hr>                    
                </div>
                <div class="col-md-3" ng-repeat="item in [1,2,3,4]">
                    <div class="ag-item">
                        <div class="ag-name"> 
                            <img src="images/yo.jpg" width="95%" class="img-circle"><br>
                            <div class="pnl-stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>  
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-circle text-green" aria-hidden="true"></i></span> Jose Alberto<br><small>López Sánches</small>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><i class="fa fa-comments" aria-hidden="true"></i> Mensajes <span class="badge pull-right">1</span></li>
                            <!-- <li>Messages <span class="badge pull-right">4</span></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2><small>Inactivos</small></h2>
                <hr>
                <div class="col-md-2" ng-repeat="item in [1,2,3,4,5,6]">
                    <div class="ag-item">
                        <div class="ag-name"> 
                            <img src="images/flat-avatar.png" width="80%" class="img-circle"><br>
                            <div class="pnl-stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>  
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-circle text-gray" aria-hidden="true"></i></span> Jose Alberto<br><small>López Sánches</small>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><i class="fa fa-comments" aria-hidden="true"></i> Mensajes <span class="badge pull-right hide">1</span></li>
                            <!-- <li>Messages <span class="badge pull-right">4</span></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p> -->
        </div>
    </div>
</div>