<div>
    <!-- <a ui-sref=agentes class="pull-right btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-plus"></span> Nuevo Agente</a>  -->
    <h2 class="regresar">
        <a ui-sref=agentes> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
    </h2>
    <!-- <h2>&nbsp;</h2> -->
    <!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span>  -->
    <div class=jumbotron>
        <div class=container>
            
            <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>
        </div>
    </div>
</div>