<div class="nuevo-agente" ng-init="Init_Detalle();">
    <div class=jumbotron>
        <div class=container>
            <div class="row"> 
                <div class="col-sm-5">
                    <h2 ng-bind-html="cliente.razon"></h2>
                    <i class="fa fa-address-card"></i> {{ cliente.rfc }} &nbsp;&nbsp;
                    
                    <!-- Estatus del Agente -->
                    <span class="label label-danger" 
                        ng-show="dataCliente.Clientes_Asignados == 0 && dataCliente.areasActivas == 0">
                        No configurado
                    </span>
                    <span class="label label-warning" 
                        ng-show="dataCliente.Clientes_Asignados == 0 && dataCliente.areasActivas != 0">
                        Clientes no asignados
                    </span>
                    <span class="label label-warning"
                        ng-show="dataCliente.Clientes_Asignados != 0 && dataCliente.areasActivas == 0">
                        Áreas no asignadas
                    </span>
                    <span class="label label-success"
                        ng-show="dataCliente.Clientes_Asignados != 0 && dataCliente.areasActivas != 0">
                        Activo
                    </span>
                </div>
                <div class="col-sm-7">
                    <div class="btn-group pull-right eje-options" role="group" aria-label="...">
                        <button type="button" 
                                class="btn btn-default" 
                                ng-click="openInfoEdit();">
                            <i class="fa fa-pencil"></i> Editar
                        </button>

                        <button type="button" class="btn btn-default" ng-click="openAsignArea();">
                            <i class="fa fa-plus-circle"></i> Áreas
                        </button>

                        <button type="button" class="btn btn-default" ng-click="openAsignContactos();">
                            <i class="fa fa-user-plus"></i> Agregar Contacto
                        </button>

                        <button type="button" class="btn btn-default" ng-click="openModalEjecutivo();">
                            <i class="fa fa-users" aria-hidden="true"></i> Agentes
                        </button>

                        <button type="button" class="btn btn-warning" 
                            ng-click="actividadCliente();"
                            ng-show="cliente.estatus == '0'">
                            <i class="fa fa-ban"></i> Activar Cliente
                        </button>

                        <button type="button" class="btn btn-danger" 
                            ng-click="actividadCliente();"
                            ng-show="cliente.estatus == '1'">
                            <i class="fa fa-ban"></i> Deshabilitar
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-5">
                    <h4>Agentes</h4>
                    <table class="table no-border">
                        <tr>
                            <th>#</th>
                            <th>Agente</th>
                            <th>Tipo</th>
                            <th><!-- Opciones --></th>
                        </tr>
                        <tr class="" ng-repeat="(key, eje) in ClienteOne.data[0].Ejecutivos | orderBy: 'clej_primario'">
                            <th>{{ key + 1 }}</th>
                            <td>{{ eje.eje_nombre }}</td>
                            <td>
                                <span class="label label-primary" ng-show="eje.clej_primario == 1">Principal</span>
                                <span class="label label-default" ng-show="eje.clej_primario == 2">Soporte</span>
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs" ng-click="goDetalleEjecutivo( eje.key );">
                                    <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Abrir ficha
                                </button>
                            </td>
                        </tr>

                        <tr ng-show="ClienteOne.data[0].Ejecutivos.length == 0">
                            <td colspan="4">
                                <h5> 
                                    <em> 
                                        <i class="fa fa-user" aria-hidden="true"></i> 
                                        No hay agentes asignados para este cliente
                                    </em> 
                                </h5> 
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4">
                    <h4>Áreas</h4>
                    <table class="table no-border">
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Area</th>
                            <th>Fecha de asignación</th>
                        </tr>
                        <!-- <tr class="" ng-repeat="(key, area) in dataCliente.Areas | filter: {ejar_estatus : 1}">
                            <th>{{ key + 1 }}</th>
                            <td>{{ area.ca_nombre }}</td>
                        </tr> -->
                        <tr ng-repeat="(key, area) in Areas.data" ng-show="area.checked">
                            <!-- <td width="20"> {{ key + 1 }} -->

                                <!-- <input type="checkbox" ng-change="GetEjecutivos()" ng-model="area.checked" ng-checked="area.checked" id="area_{{ area.ca_id }}"> -->
                            <!-- </td> -->
                            <td> <span>{{ area.ca_nombre }}</span> </td>
                            <td> {{ area.timestamp }} </td>
                        </tr>
                        
                        <tr ng-show="ArSel.length == 0">
                            <td colspan="2">
                                <h5> 
                                    <em> 
                                        <i class="fa fa-sliders" aria-hidden="true"></i> 
                                        No hay áreas asignadas para este ejecutivo, da clic <a href="" ng-click="openAsignArea();">aqui</a> para agregar.
                                    </em> 
                                </h5> 
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12">
                    <h4>Contactos</h4>
                    <table class="table no-border table-hover">
                        <tr>
                            <th>#</th>
                            <th>Contacto</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <!-- <th>Estatus</th> -->
                            <th>Fecha registro</th>
                            <th>Tipo</th>
                            <th width="20">-</th>
                            <th width="20">-</th>
                        </tr>
                        <tr class="" ng-repeat="(key, rep) in ClienteOne.data[0].Representantes">
                            <th>{{ key + 1 }}</th>
                            <td ng-bind-html="rep.rep_nombre"></td>
                            <td>{{ rep.rep_email }}</td>
                            <td>{{ rep.rep_telefono }}</td>
                            <!-- <td>{{ rep.rep_estatus }}</td> -->
                            <td>{{ rep.timestamp }}</td>
                            <td>
                                <span class="label label-primary" ng-show="rep.ctc_id == 1">{{ rep.ctc_nombre }}</span>
                                <span class="label label-default" ng-show="rep.ctc_id == 2">{{ rep.ctc_nombre }}</span>
                            </td>
                            <td> 
                                <button class="btn btn-default btn-xs" ng-click="openEditResponsable(key);">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td> 
                                <button class="btn btn-default btn-xs" ng-click="eliminarResponsable(key)" ng-show="rep.ctc_id == 2">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>

                        <tr ng-show="ClienteOne.data[0].Representantes.length == 0">
                            <td colspan="3">
                                <h5> 
                                    <em> 
                                        <i class="fa fa-user" aria-hidden="true"></i> 
                                        No hay contactos por parte del cliente.
                                    </em> 
                                </h5> 
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br><br>
        </div>
    </div>











    <!-- <div class=jumbotron>
        <div class=container>
            <div class="row"> 
                <div class="col-sm-12">
                    <h4>Editar cliente</h4>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-8">
                	<small>Rasón Social</small><br>
                    <input type="text" class="form-input razon_social" placeholder="" ng-model="cliente.razon">
                </div>
                <div class="col-sm-4">
                    <small>RFC</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="cliente.rfc">
                </div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-sm-4">
                    <small>Email</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="cliente.email">
                </div>
                <div class="col-sm-4">
                    <small>Teléfono</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="cliente.telefono">
                </div>
                <div class="col-sm-4">
                    <small>Celular</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="cliente.celular">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <small>Nombre del Representante</small><br>
                            <input type="text" class="form-input" placeholder="" ng-model="cliente.nombre">
                        </div>
                        <div class="col-sm-6">
                            <small>Tipo de Cliente</small><br>
                            <select class="form-input" ng-model="cliente.tipo">
                                <option value="">- Selecione Tipo -</option>
                                <option ng-repeat="cat in ctc" value="{{ cat.ctc_id }}">{{ cat.ctc_nombre }}</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <small class="{{ TotalEje == 0 ? 'warning': '' }}">Asiganción de Ejecutivo</small><br>

                            <select class="form-input" ng-model="cliente.eje_id">
                                <option ng-repeat="eje in Ejecutivos.data"
                                        value="{{ eje.eje_id }}"
                                        ng-selected="eje.Selected == 1"
                                        ng-bind-html="eje.Nombre"></option>
                            </select>

                            <span class="label label-warning" ng-show="TotalEje==0"> {{ eje_mensaje }} </span>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-4"> 
                    <small>Áreas para asesoria</small><br>
                    <table class="table">
                        <tr ng-repeat="(key, area) in Areas.data">
                            <td width="20"> 
                                <input type="checkbox" ng-change="GetEjecutivos()" ng-model="area.checked" ng-checked="area.checked" id="area_{{ area.ca_id }}">
                            </td>
                            <td> <label for="area_{{ area.ca_id }}">{{ area.ca_nombre }}</label> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <br><br><br>
            <div class="row"> 
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a ui-sref=clientes class="btn btn-default"> <i class="fa fa-ban"></i> Cancelar </a>

                        <button type="button" class="btn btn-default" ng-click="actualizaCliente()">
                            <i class="fa fa-plus-circle"></i> Actualizar cliente
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- Modal Información -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="modal_info" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Editar información</h4>
                <br><br>
            </div>
            <div class="modal-body">
                <!-- <div class="row"> -->
                    <small class="text-primary">Cliente:</small><br>
                    <input type="" class="form-input" name="" ng-model="clienteEdit.razon" placeholder="Nombre del cliente">
                    <br><br>
                    <small class="text-primary">RFC:</small><br>
                    <input type="" class="form-input" name="" ng-model="clienteEdit.rfc" placeholder="Nombre del cliente">
                    <br><br>

                <!-- </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="saveInfoEdit();">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Áreas -->
<div class="modal fade" id="modal_areas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Asignación de áreas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-hover no-border">
                        <tr>
                            <td align="center">-</td>
                            <th>Area</th>
                            <th>Fecha de asignación</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr class="" ng-repeat="(key, area) in areasCliente">
                            <td width="10%" align="center"> 
                                <input type="checkbox" 
                                       ng-change="GetEjecutivos()" 
                                       ng-model="area.checked" 
                                       ng-checked="area.checked"
                                       ng-disabled="!area.enabled && area.checked" 
                                       id="area_{{ area.ca_id }}">
                            </td>
                            <th>{{ key + 1 }}</th>
                            <td>{{ area.ca_nombre }}</td>
                            <td ng-bind-html="area.mensaje"></td>
                        </tr>
                    </table>
                </div>

                <div class="alert alert-{{ alret_info.type }}" ng-show="alert_info.show">
                    <strong>¡{{ alert_info.title }}!</strong> {{ alert_info.msg }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contactos -->
<div class="modal fade" id="modal_contactos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo contacto</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <small class="text-primary">Nombre completo</small>
                        <input type="" class="form-input" name="" ng-model="contacto.nombre">
                    </div>
                    <div class="col-sm-6">
                        <small class="text-primary">Email</small>
                        <input type="" class="form-input" name="" ng-model="contacto.email">
                    </div>
                    <div class="col-sm-6">
                        <small class="text-primary">Teléfono</small>
                        <input type="" class="form-input" name="" ng-model="contacto.telefono">
                    </div>
                    <div class="col-sm-12">
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="nuevoResponsable();">Guardar nuevo</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal editar representantes -->
<div class="modal fade" id="modal_edit_responsable" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar representante</h4>
            </div>
            <div class="modal-body">
                <small class="text-primary">Nombre</small>
                <input type="" class="form-input" name="" ng-model="contacto.nombre">

                <br><br>
                <small class="text-primary">Email</small>
                <input type="" class="form-input" disabled="" name="" ng-model="contacto.email">
                <small class="text-warning">Este campo no podra ser cambiado ya que se utiliza como identificador</small>

                <br><br>
                <small class="text-primary">Teléfono</small>
                <input type="" class="form-input" name="" ng-model="contacto.telefono">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="actualizarResponsable()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agentes/Ejecutivo -->
<div class="modal fade" id="modal_agentes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agentes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-inline" ng-submit="asignarAreaCliente()">
                          <div class="form-group" style="width: 85%">
                            <select class="form-control" style="width: 100%" 
                                    ng-options="item as item.eje_nombre for item in agentesAsignar track by item.eje_id"
                                    placeholder="Selecciona un agente"
                                    ng-model="ejecutivo.agregar">
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary pull-right">Agregar</button>
                        </form>

                        
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <table class="table no-border">
                            <tr>
                                <th>#</th>
                                <th>Agente</th>
                                <th>Tipo</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr class="" ng-repeat="(key, eje) in ClienteOne.data[0].Ejecutivos | orderBy: 'clej_primario'">
                                <th>{{ key + 1 }}</th>
                                <td>{{ eje.eje_nombre }}</td>
                                <td>
                                    <span class="label label-primary" ng-show="eje.clej_primario == 1">Principal</span>
                                    <span class="label label-default" ng-show="eje.clej_primario == 2">Soporte</span>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-xs" ng-show="eje.clej_primario == 2" ng-click="quitarAgente( eje.clej_id );">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button title="Convertir en  Principal" class="btn btn-info btn-xs" ng-show="eje.clej_primario == 2" ng-click="setAgentePrincipal( eje.clej_id );">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr ng-show="ClienteOne.data[0].Ejecutivos.length == 0">
                                <td colspan="4">
                                    <h5> 
                                        <em> 
                                            <i class="fa fa-user" aria-hidden="true"></i> 
                                            No hay agentes asignados para este cliente
                                        </em> 
                                    </h5> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>