<div ng-init="Init();">
    <div class=jumbotron>
        <div class=container>
            <div class="row">   
                <div class="col-sm-4"> <h3>Mis Clientes</h3> </div>
                <div class="col-sm-8">
                    <div class="pull-right"> 
                        <a ui-sref=nuevo_cliente class="pull-right btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-plus"></span> Nuevo Cliente</a>
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="row">
                <div class="col-sm-12">
                    <table id="example" class="table table-hover" width="100%">
                        <thead>
                            <th>Razón Social</th>
                            <th>RFC</th>
                            <th>Estatus</th>
                            <th>Fecha Registro</th>
                            <!-- <th>No. Responsables</th> -->
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>                            
                            <tr ng-repeat="(key, cli) in Clientes">
                                <td>{{ cli.cli_rason_social }}</td>
                                <td>{{ cli.cli_rfc }} {{ cli.cli_estatus }}</td>
                                <!-- <td>{{ cli.cli_email }}</td> -->
                                <!-- <td>{{ cli.cli_telefono }}</td> -->
                                <!-- <td>{{ cli.cli_celular }}</td> -->
                                <td>
                                    <span class="label label-success" ng-show = "cli.cli_estatus == 1 && cli.idEjecutivo != 0 && cli.Areas_Count != 0">Activo</span>
                                    <span class="label label-warning" ng-show = "cli.cli_estatus == 1 && cli.idEjecutivo == 0 && cli.Areas_Count != 0">Sin Ejecutivo</span>
                                    <span class="label label-warning" ng-show = "cli.cli_estatus == 1 && cli.Areas_Count == 0 && cli.idEjecutivo != 0">Sin Áreas</span>
                                    <span class="label label-danger" ng-show = "cli.cli_estatus == 1 && cli.Areas_Count == 0 && cli.idEjecutivo == 0">No configurado</span>
                                    <span class="label label-danger" ng-show = "cli.cli_estatus == 0">Deshabilitado</span>

                                </td>
                                <td>{{ cli.timestamp }}</td>
                                <!-- <td>{{ cli.noResponsable }}</td> -->
                                <td>
                                    <button class="btn btn-default btn-xs" ng-click="goDetalle( cli.key );">
                                        <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Abrir ficha
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p> -->
        </div>
    </div>
</div>