.ag-item{	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 0;
	margin-bottom: 15px;
}

.ag-item:hover{
	background-color: #f4f4f4;
}

.ag-item img{
	margin: 0 auto;
}

.ag-name{
	text-align: center;
}

.text-green{
	color: #2fab79;
}

.text-gray{
	color: #ccc;
}

.nav-stacked{
	margin-top: 15px;
}

.nav-stacked li{
	background-color: #fff;
	padding: 15px 10px;
}

.ag-item:hover > .nav-stacked li{
	background-color: #3ca2e0;
	color: white;
}

.img-circle{
	border: solid 3px #e4e4e4 !important;
}

.regresar{
	font-size: 50px !important;
}